---
import BlogCard from '@/components/BlogCard.astro'
import CourseCard from '@/components/education/CourseCard.astro'
import Calendar from '@/components/Calendar.astro'
import Card from '@/components/Card.astro'
import Leaderboard from '@/components/Leaderboard.astro'
import Link from '@/components/Link.astro'
import LivestreamFeed from '@/components/LivestreamFeed.astro'
import PageHead from '@/components/PageHead.astro'
import { buttonVariants } from '@/components/ui/button'
import WHACK from '@/components/WHACK.astro'
import { SITE } from '@/consts'
import Layout from '@/layouts/Layout.astro'
import { getRecentPosts } from '@/lib/data-utils'
import { getRecentCourses } from '@/lib/course-utils'
import { Icon } from 'astro-icon/components'
import { Masonry } from 'astro-masonry'
import { Image } from 'astro:assets'

import summitSocial from '../content/gallery/011-summit-25.jpg'
import safetyPanel from '../content/gallery/013-summit-25.jpg'
import robotProject from '../content/gallery/018-summit-24.jpg'

const blog = await getRecentPosts(SITE.featuredPostCount)
const courses = await getRecentCourses(SITE.featuredCourseCount)
---

<Layout class="max-w-3xl" particles>
  <PageHead slot="head" title="" />
  <section class="flex flex-1 flex-col gap-4">
    <Card color="purple">
      <Fragment slot="header">
        <h3 class="text-center text-3xl leading-none font-medium">
          Warwick Artificial Intelligence
        </h3>
        <p class="text-muted-foreground pb-3 text-center text-sm font-medium">
          Your gateway into AI at the University of Warwick!
        </p>
      </Fragment>

      <p>
        Welcome to Warwick AI Society! We are a student-run society that
        provides students with the opportunity to learn and use various emerging
        technologies in the field of Artificial Intelligence! We welcome
        students from any background and no prior experience in AI is required
        to get hands-on with our projects. We also run many social events
        throughout term, and meet weekly for 'codenight'.
      </p>
    </Card>
  </section>
  <section class="bg-background/75 flex flex-col gap-y-4">
    <Masonry
      breakpointCols={{
        default: 2,
        700: 1,
      }}
      sortByHeight={true}
      class="flex gap-4"
      columnClass="flex flex-col flex-1 gap-4"
    >
      <Card class="overflow-hidden p-0!" color="sky">
        <div slot="header" class="flex flex-row items-center gap-3 p-6 pb-2">
          <Icon name="lucide:calendar-days" class="size-8" />
          <h3 class="text-xl leading-none font-medium">Upcoming Events</h3>
        </div>
        <Calendar enableLocation={true} scrollable={true} />
      </Card>
      <Card class="overflow-hidden p-0!">
        <Image
          src={robotProject}
          alt="A WAI member shows a robot cat"
          decoding="async"
          loading="lazy"
          class="w-full"
        />
      </Card>
      <Card color="red">
        <Fragment slot="header">
          <Link href="/summit">
            <img
              src="/summit.png"
              alt="WAI Summit Icon"
              class="mx-auto w-30 dark:hidden"
            />
            <img
              src="/summit-dark.png"
              alt="WAI Summit Icon"
              class="mx-auto w-30 not-dark:hidden"
            />

            <h3 class="pt-2 text-center text-2xl leading-none font-medium">
              Warwick AI Summit
            </h3>
          </Link>

          <p class="text-muted-foreground text-center text-sm font-medium">
            21 February 2026, The <Link
              href="https://campus.warwick.ac.uk/search/623c8864421e6f5928c0c8b3"
              external
              underline>Oculus</Link
            > Building
          </p>
        </Fragment>

        <div class="flex flex-col gap-2">
          <p>
            Join us for our annual AI summit, showcasing the best of AI research
            and projects at Warwick &mdash; from both students and staff. There
            will be opportunities to get hands-on with workshops, and learn from
            industry guests.
          </p>
          <p>
            Our summit is open to everyone! This includes Warwick students and
            staff (from all faculties), sixth form students, and members of the
            public.
          </p>
          <p>
            Tickets will become available very soon. Follow us on Instagram to
            stay in the loop as speakers are announced!
          </p>
        </div>
      </Card>
      <Card color="blue">
        <Fragment slot="header">
          <p class="text-muted-foreground text-center text-xs">
            Proudly sponsored by
          </p>
          <img
            src="/jane-street.png"
            alt="Jane Street Logo"
            class="mx-auto w-60 dark:invert"
          />
        </Fragment>

        <div class="flex flex-col gap-2">
          <p>
            Jane Street is a global trading firm with offices in London, New
            York, Hong Kong, Singapore, and Amsterdam. Our approach is rooted in
            technology and rigorous quantitative analysis, but our success is
            driven by our people.
          </p>
          <p>
            We are always recruiting top candidates and we invest heavily in
            teaching and training. Applications for our <Link
              href="https://www.janestreet.com/join-jane-street/open-roles/?type=internship&location=london"
              external
              underline>2026 summer internships</Link
            > are open now - they give you a real sense of working at Jane Street
            full-time. <Link
              href="https://www.janestreet.com/join-jane-street/internships/"
              external
              underline>Learn more</Link
            >.
          </p>
          <p>
            Learn more about us and our roles at our <Link
              href="https://www.janestreet.com/join-jane-street/programs-and-events/?location=europe&program-type=all-programs&event-type=all-events&show-programs=true&show-events=true"
              external
              underline>programs and events</Link
            >. No finance experience needed. We look for a passion for critical
            thinking and creative problem-solving – people like you!
          </p>
        </div>
      </Card>
      <Link
        href="https://github.com/WarwickAI/snake-comp?tab=readme-ov-file#-warwick-ai-snake-competition-"
        external
      >
        <Card color="teal">
          <h3 slot="header" class="text-2xl leading-none font-medium">
            🐍 Snake Competition
          </h3>
          <Leaderboard limit={3} project="snake" />
        </Card>
      </Link>
      <Link
        href="https://www.warwicksu.com/societies-sports/societies/warwickai/"
        external
      >
        <Card color="green">
          <div slot="header" class="flex flex-row items-center gap-3">
            <Icon name="warwick-su-wordmark" class="size-8" />
            <h3 class="text-xl leading-none font-medium">
              Become a society member
            </h3>
          </div>

          <div class="flex flex-col gap-2">
            <p>
              Are you a student at Warwick with an interest in AI? There are
              many benefits to becoming a member through the Student's Union:
            </p>

            <ul class="list-inside list-['✓'] *:before:pr-1">
              <li>Completley free for Warwick students</li>
              <li>Be the first to know about new projects</li>
              <li>Friendly community with great socials</li>
              <li>Be part of the only society with a pet fish 🐠</li>
              <li>Priority access to tickets at our AI summit</li>
              <li>Utilise our compute resources for projects</li>
            </ul>
          </div>
        </Card>
      </Link>
      <Link href="https://instagram.com/warwick_ai" external>
        <Card color="pink">
          <div slot="header" class="flex flex-row items-center gap-3">
            <Icon name="lucide:instagram" class="size-8" />
            <h3 class="text-xl leading-none font-medium">
              Follow us on Instagram
            </h3>
          </div>

          <p>
            We post all news and events on our Instagram so is an easy way to
            stay up-to-date with the society!
          </p>
        </Card>
      </Link>
      <Card class="overflow-hidden p-0!">
        <Image
          src={safetyPanel}
          alt="An AI safety panel discussing at the 2025 summit"
          decoding="async"
          loading="lazy"
          class="w-full"
        />
      </Card>
      <Link href="https://discord.gg/YshvNtPUZm" external>
        <Card color="indigo">
          <div slot="header" class="flex flex-row items-center gap-3">
            <Icon name="discord" class="size-8" />
            <h3 class="text-xl leading-none font-medium">
              Chat with us on Discord
            </h3>
          </div>

          <p>
            We use Discord to chat outisde of events. It's also great for asking
            questions and help with projects!
          </p>
        </Card>
      </Link>
      <Card color="violet">
        <Fragment slot="header">
          <WHACK />
          <p class="text-muted-foreground text-center text-sm font-medium">
            18&ndash;19 October 2025, The <Link
              href="https://campus.warwick.ac.uk/search/623c8864421e6f5928c0c8b3"
              external
              underline>Oculus</Link
            > Building
          </p>
        </Fragment>

        <div class="flex flex-col gap-2">
          <p>
            Each year, WAI co-organises Warwick's flagship on-campus hackathon,
            WHACK, along with UWCS and CodeSoc &mdash; and we're back for 2025!
          </p>
          <p>
            Following a huge success last year, we are now opening our doors to <em
              >ALL</em
            > university students nationwide! Join us with a team of (up to) four
            and submit a project to one of many categories set by top industy names
            to win from the prize pot of over <strong>£4,000</strong>! And of
            course, we will be providing free food to hackers all weekend long.
          </p>
          <p>
            Keep an eye out for tickets. More information is available on the <Link
              href="https://warwickhack.co.uk"
              external
              underline>WHACK website</Link
            >.
          </p>
        </div>
      </Card>
      <Card color="emerald">
        <Fragment slot="header">
          <h3 class="text-center text-2xl leading-none font-medium">
            Intro to
          </h3>
          <img
            src="/stemettes.png"
            alt="Stemettes Logo"
            class="w-full dark:invert"
            loading="lazy"
            decoding="async"
          />
          <p class="text-muted-foreground text-center text-sm font-medium">
            13 November 2025, The <Link
              href="https://campus.warwick.ac.uk/search/623c8864421e6f5928c0c8b3"
              external
              underline>Oculus</Link
            > Building
          </p>
        </Fragment>
        <div class="flex flex-col gap-2">
          <p>
            Our flagship women/non-binary students in STEAM event! This event
            featured a mentor from Stemettes who joined us to introduce what
            Stemettes is, how the organisation was founded, and the mission
            behind their work to support women and non-binary people in STEAM.
          </p>

          <p>
            They spoke about the wide range of opportunities Stemettes offers,
            including mentoring, workshops, events, and programmes designed to
            help students build confidence, skills, and networks in STEM fields.
            You can find out more about Stemettes and their work on their
            <Link href="https://stemettes.org" external underline>
              website
            </Link>.
          </p>
          <p>
            We’ll be continuing this collaboration with future mini-hacks,
            workshops, seminars, and other events, so keep an eye out for
            upcoming opportunities hosted by Warwick AI, Stemettes, and our
            collaborating societies!
          </p>
          <Link
            href="https://sfutures.org/warwick"
            external
            underline
            class="mx-auto block text-center font-medium"
          >
            Click here to find out about upcoming Stemettes events & other
            mentorship opportunities! →
          </Link>
        </div>
      </Card>
      <Link href="/authors/exec">
        <Card color="pink">
          <div slot="header" class="flex flex-row items-center gap-3">
            <Icon name="lucide:sparkles" class="size-8" />
            <h3 class="text-xl leading-none font-medium">
              Meet the Exec for 25/26!
            </h3>
          </div>

          <p>
            Click here to meet this year's exec team! We are always happy to
            help with anything :)
          </p>
        </Card>
      </Link>
      <Card color="yellow">
        <div slot="header" class="flex flex-row items-center gap-3">
          <Icon name="lucide:brain" class="size-8" />
          <h3 class="text-xl leading-none font-medium">
            Group Projects 25/26!
          </h3>
        </div>

        <div class="flex flex-col gap-2">
          <p>
            We're excited to announce that group projects are back for the
            2025/26 academic year!
          </p>
          <p>We're running two tracks this year:</p>
          <ul class="list-inside list-['✓'] *:before:pr-1">
            <li>Autonomous Drone AI</li>
            <li>Stock Trading AI vs our pet fish</li>
          </ul>
          <p>
            <a
              href="https://docs.google.com/forms/d/e/1FAIpQLSdImGqRifxfu-ncqQYf7JmPIb8W4bFxvorfx-WBgimBpBSEzw/viewform?usp=sf_link"
              target="_blank"
              rel="noopener noreferrer"
              style="font-weight: bold; text-decoration: underline;"
            >
              Click here to sign up!
            </a>
          </p>
          <p>
            Below are brief overviews of each project to help you decide which
            one to join:
          </p>
          <ul class="list-inside list-['→'] *:before:pr-1">
            <li>
              <a
                href="/static/DroneAI.pdf"
                target="_blank"
                rel="noopener noreferrer"
                class="font-bold underline"
              >
                Autonomous Drone AI brief (PDF)
              </a>
            </li>
            <li>
              <a
                href="/static/StockTradingAI.pdf"
                target="_blank"
                rel="noopener noreferrer"
                class="font-bold underline"
              >
                Stock Trading AI vs our pet fish brief (PDF)
              </a>
            </li>
          </ul>
          <div>
            <p>Term 2 Deadlines:</p>
            <ul class="list-inside list-['→'] *:before:pr-1">
              <li>Week 1 Code Night: Stock Trading AI Portfolio Submissions</li>
              <li>Week 4 Code Night: Presentations for both projects!</li>
            </ul>
          </div>
          <div>
            <p>
              The best presentations will be invited to present at our yearly AI
              summit in February!
            </p>
            <p>
              Previous speakers include Google, IBM, Warwick AI alumni startups
              and more.
            </p>
          </div>
          <p>
            If you have any questions reach out to us on our socials, or email
            us.
          </p>
        </div>
      </Card>
      <Card class="overflow-hidden p-0!">
        <Image
          src={summitSocial}
          alt="A group of society members at a social event"
          decoding="async"
          loading="lazy"
          class="w-full"
        />
      </Card>
      <Card class="overflow-hidden p-0!">
        <LivestreamFeed channel="warwickai" width="100%" height="300" />
      </Card>
      {blog.map((post) => <BlogCard entry={post} masonryCard />)}
      {courses.map((post) => <CourseCard entry={post} masonryCard />)}
    </Masonry>
    <div class="flex justify-center">
      <Link
        href="/blog"
        class={buttonVariants({ variant: 'ghost' }) + ' group'}
      >
        See all posts <span
          class="ml-1.5 transition-transform group-hover:translate-x-1"
          >&rarr;</span
        >
      </Link>
    </div>
  </section>
</Layout>
