---
import Link from '@/components/Link.astro'
import { buttonVariants } from '@/components/ui/button'
import type { ContentCollectionConfig, ContentEntry } from '@/lib/collections'
import { cn } from '@/lib/utils'
import { Icon } from 'astro-icon/components'

interface Props {
  config: ContentCollectionConfig
  next: ContentEntry | null
  prev: ContentEntry | null
  parent?: ContentEntry | null
}

const { config, next, prev, parent } = Astro.props
const isSubpost = !!parent
const subLabel = config.subpostLabel.charAt(0).toUpperCase() + config.subpostLabel.slice(1)
---

<nav
  class={cn(
    'col-start-2 grid grid-cols-1 gap-4',
    isSubpost ? 'sm:grid-cols-3' : 'sm:grid-cols-2',
  )}
>
  <Link
    href={prev ? `${config.basePath}/${prev.id}#post-title` : isSubpost ? '#' : config.basePath}
    class={cn(
      buttonVariants({ variant: 'outline' }),
      'rounded-lg group flex items-center justify-start size-full',
      !prev && isSubpost && 'pointer-events-none opacity-50 cursor-not-allowed',
    )}
    aria-disabled={!prev && isSubpost}
  >
    <Icon
      name="lucide:arrow-left"
      class="mr-2 size-4 transition-transform group-hover:-translate-x-1"
    />
    <div class="flex flex-col items-start overflow-hidden text-wrap">
      <span class="text-muted-foreground text-left text-xs">
        {isSubpost ? `Previous ${subLabel}` : prev ? 'Previous' : `Back to ${config.label}`}
      </span>
      <span class="w-full text-left text-sm text-balance text-ellipsis">
        {prev?.data.title || ''}
      </span>
    </div>
  </Link>

  {
    isSubpost && (
      <Link
        href={parent ? `${config.basePath}/${parent.id}#post-title` : '#'}
        class={cn(
          buttonVariants({ variant: 'outline' }),
          'group flex size-full items-center justify-center rounded-lg',
          !parent && 'pointer-events-none cursor-not-allowed opacity-50',
        )}
      >
        <Icon
          name="lucide:corner-left-up"
          class="mr-2 size-4 transition-transform group-hover:-translate-y-1"
        />
        <div class="flex flex-col items-center overflow-hidden text-wrap">
          <span class="text-muted-foreground text-center text-xs">
            {config.parentLabel}
          </span>
          <span class="w-full text-center text-sm text-balance text-ellipsis">
            {parent?.data.title || ''}
          </span>
        </div>
      </Link>
    )
  }

  <Link
    href={next ? `${config.basePath}/${next.id}#post-title` : '#'}
    class={cn(
      buttonVariants({ variant: 'outline' }),
      'rounded-lg group flex items-center justify-end size-full',
      !next && 'pointer-events-none opacity-50 cursor-not-allowed',
    )}
    aria-disabled={!next}
  >
    <div class="flex flex-col items-end overflow-hidden text-wrap">
      <span class="text-muted-foreground text-right text-xs">
        {isSubpost ? `Next ${subLabel}` : `Next ${subLabel}`}
      </span>
      <span class="w-full text-right text-sm text-balance text-ellipsis">
        {next?.data.title || 'Thanks for reading!'}
      </span>
    </div>
    <Icon
      name="lucide:arrow-right"
      class="ml-2 size-4 transition-transform group-hover:translate-x-1"
    />
  </Link>
</nav>
